.pshell
{
    background-color: #012456;
    color: white;
    padding-right: 2px;
    padding-left: 2px;
    margin-right: auto;
    margin-left: auto;
}
.pshellcontainer
{
    background-color: black;
    color: white;
    padding-right: 5px;
    padding-left: 0px;
    padding-top: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
    word-wrap: break-word;
}