{# templates/index.html #}
{% import "macros.html" as macros %}

<html>
<head>
    <link href="static/css/bootstrap.min.css" media="screen" rel="stylesheet">
    <link href="static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/js/bootstrap.bundle.js" rel="javascript">
    <title>Line logging</title>

    {# Import JQuery #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/psgen.js"></script>

    <style>
            .is-hidden {
                display: none;
            }


    </style>
</head>

<body>
<p></p>

{{ macros.render_header(headerform) }}


{# Show all subforms #}

<form action="" id="line-form" method="POST" role="form">
    {{ form.hidden_tag() }}

    <div id="subforms-container">
        <!--  {% for subform in form.lines %}
          {{ macros.render_line_form(subform, loop.index0) }}
          {% endfor %} -->
        <!-- we was able to remove this, this fixes the display all commands on visit bug, we are keeping this in code as it could break core -->
    </div>

    <button class="btn btn-success" type="submit">Generate script</button>
</form>
</div>


{% if form.errors %}
{{ form.errors }}
{% endif %}

{# Form template #}
{{ macros.render_line_form(_template, '_') }}


{# Show scripts #}
{% for script in scripts %}
<p><a href="{{ url_for('show_script', script_id=script.id) }}">Script {{ script.id }}</a></p>
{% endfor %}
</body>
</html>