{# templates/macros.html #}
{# Render line form.

This macro is intended to render both regular line subforms (received from the
server) and the template form used to dynamically add more forms.
server) and the template form used to dynamically add more forms.

Arguments:
- subform: Form object to render
- index: Index of the form. For proper subforms rendered in the form loop,
this should match `loop.index0`, and for the template it should be
'_'
#}
{%- macro render_header(headerform) %}
<div class="container">
    <div class="row">
        <div class="col">

            <img alt="..." class="img-fluid" src="/static/pslogo2.png">
        </div>
        <div class="col">
            <h1 class="display-6">Powershell generator</h1>
            <p class="lead">credit Ph0tonZ
                <svg class="bi bi-github" fill="currentColor" height="26" viewBox="0 0 16 16" width="26"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                </svg>
                <a class="link-secondary" href="https://github.com/warren2i/PsGen">
                    https://github.com/warren2i/PsGen </a></p>


        </div>
    </div>
    <p></p>
    <div class="input-group">
        <select aria-label="Generate command" class="form-select" id="command-select">
            <option value="0">Select a Command</option>
            <option value="schedprocess">schedprocess</option>
            <option value="ping">Ping</option>
            <option value="setdate">Change Windows Date</option>
            <option value="4">Move File</option>
        </select>
        <button class="btn btn-outline-secondary" onclick="GetSelectedText()" type="button">Generate command</button>
    </div>
<p></p>

    {%- endmacro %}
{%- macro render_line_form(subform, index) %}
<div class="{% if index != '_' %}subform{% else %}is-hidden{% endif %}" data-index="{{ index }}"
     id="line-{{ index }}-form">
    <div>
        {{ subform.script_id }}
    </div>
    <div>
        {{ subform.arg.label }}
        {{ subform.arg }}
    </div>
    <div>
        {{ subform.runner_name.label }}
        {{ subform.runner_name }}
    </div>
    <div>
        {{ subform.line_time.label }}
        {{ subform.line_time}}
    </div>
    <div>
        {{ subform.delay.label }}
        {{ subform.delay }}
    </div>

    <a class="remove" href="#">Remove</a>
    <hr/>
</div>

    <div class="{% if index != '_' %}subform{% else %}is-hidden{% endif %}" data-index="{{ index }}"
         id="schedprocess-{{ index }}-form">
        <div>
            <h4>sched process</h4>
            {{ subform.script_id }}
            {{ subform.taskName.label }}
            {{ subform.taskName}}
            {{ subform.procName.label }}
            {{ subform.procName}}
            {{ subform.date.label }}
            {{ subform.date}}
            {{ subform.encoding.label }}
            {{ subform.encoding }}


        </div>

        <a class="remove" href="#">Remove</a>
        <hr/>
</div>

    <div class="{% if index != '_' %}subform{% else %}is-hidden{% endif %}" data-index="{{ index }}"
         id="ping-{{ index }}-form">
        <div>
            <h4>ping</h4>
            {{ subform.script_id }}
            {{ subform.url.label }}
            {{ subform.url }}

        </div>

        <a class="remove" href="#">Remove</a>
        <hr/>
</div>

    <div class="{% if index != '_' %}subform{% else %}is-hidden{% endif %}" data-index="{{ index }}"
         id="setdate-{{ index }}-form">
        <div>
            <h3>Change Windows Date</h3>
            {{ subform.script_id }}
            {{ subform.date }}


        </div>

        <a class="remove" href="#">Remove</a>
        <hr/>
</div>
{%- endmacro %}