{# templates/macros.html #}
{# Render line form.

This macro is intended to render both regular line subforms (received from the
server) and the template form used to dynamically add more forms.
server) and the template form used to dynamically add more forms.

Arguments:
- subform: Form object to render
- index: Index of the form. For proper subforms rendered in the form loop,
this should match `loop.index0`, and for the template it should be
'_'
#}


{%- macro render_header(headerform) %}

    <div class="input-group">
        <select aria-label="Generate command" class="form-select" id="command-select">
            <option value="0">Select a Command</option>
            <option value="temp">temp</option>
            <option value="schedprocess">schedprocess</option>
            <option value="ping">Ping</option>
            <option value="setdate">Change Windows Date</option>
            <option value="copyfile">Copy File</option>
            <option value="erase">Removes File</option>
            <option value="getfile">download file to location</option>
            <option value="Createnewuser">creates new local windows user</option>


        </select>
        <button class="btn btn-outline-secondary" onclick="GetSelectedText()" type="button">Generate command</button>
    </div>
    <p></p>

    {%- endmacro %}


    {%- macro render_line_form(subform, index) %}
    <div class="{% if index != '_' %}subform{% else %}is-hidden{% endif %}" data-index="{{ index }}"
         id="line-{{ index }}-form">
        <div>
            {{ subform.script_id }}
        </div>
        <div>
            {{ subform.arg.label }}
            {{ subform.arg }}
        </div>
        <div>
            {{ subform.runner_name.label }}
            {{ subform.runner_name }}
        </div>
        <div>
            {{ subform.line_time.label }}
            {{ subform.line_time}}
        </div>
        <div>
            {{ subform.delay.label }}
            {{ subform.delay }}
        </div>

        <a class="remove" href="#">Remove Line</a>
        <hr/>
    </div>

    <div class="{% if index != '_' %}subform{% else %}is-hidden{% endif %}" data-index="{{ index }}"
         id="schedprocess-{{ index }}-form">
        <div>

            <h4>sched process</h4>
            <h6>You can register a task to run any of the following application or file types: Win32 applications, Win16
                applications, OS/2 applications, MS-DOS applications, batch files (.bat), command files (.cmd), or any
                properly registered file type.</h6>
            {{ subform.command_name(value='schedproc',type="hidden")}}
            {{ subform.script_id }}
            {{ subform.taskName.label }}
            {{ subform.taskName(**{'data-toggle': 'tooltip','title' : 'Name the scheduled task'})}}
            {{ subform.procName.label }}
            {{ subform.procName(**{'data-toggle': 'tooltip','title' : 'Specifies the path to an executable file.'})}}
            {{ subform.date.label }}
            {{ subform.date}}
            {{ subform.timefield.label }}
            {{ subform.timefield }}
            {{ subform.encoding.label }}
            {{ subform.encoding }}


        </div>
        <button aria-label="Close" class="btn-close" type="button"></button>
        <a class="remove" href="#">Remove Line</a>
        <hr/>
    </div>

    <div class="{% if index != '_' %}subform{% else %}is-hidden{% endif %}" data-index="{{ index }}"
         id="ping-{{ index }}-form">
        <div>
            <h4>ping</h4>
            <h6> The receipt of corresponding echo Reply messages are displayed, along with round-trip times</h6>
            {{ subform.command_name(value='ping',type="hidden")}}
            {{ subform.script_id }}
            {{ subform.url.label }}
            {{ subform.url }}
            {{ subform.encoding.label }}
            {{ subform.encoding }}

        </div>

        <button aria-label="Close" class="btn-close" type="button"></button>
        <a class="remove" href="#">Remove Line</a>
        <hr/>
    </div>

    <div class="{% if index != '_' %}subform{% else %}is-hidden{% endif %}" data-index="{{ index }}"
         id="setdate-{{ index }}-form">
        <div>
            <h3>Change Windows Date</h3>
            <h6>Changes the system time on the computer to a time that you specify.</h6>
            {{ subform.command_name(value='setdate',type="hidden")}}
            {{ subform.script_id }}
            {{ subform.date }}
            {{ subform.timefield.label }}
            {{ subform.timefield }}
            {{ subform.encoding.label }}
            {{ subform.encoding }}


        </div>

        <button aria-label="Close" class="btn-close" type="button"></button>
        <a class="remove" href="#">Remove Line</a>
        <hr/>
    </div>

    <div class="{% if index != '_' %}subform{% else %}is-hidden{% endif %}" data-index="{{ index }}"
         id="copyfile-{{ index }}-form">
        <div>
            <h3>Copy file</h3>
            <h6>Copies an item from one location to another. Usage copy('c://file.txt', 'c://toloc') copy('c://folder',
                'c://newfolder')</h6>
            {{ subform.command_name(value='copyfile',type="hidden")}}
            {{ subform.fromlocation.label }}
            {{ subform.fromlocation }}
            {{ subform.tolocation.label }}
            {{ subform.tolocation }}
            {{ subform.encoding.label }}
            {{ subform.encoding }}

        </div>

        <button aria-label="Close" class="btn-close" type="button"></button>
        <a class="remove" href="#">Remove Line</a>
        <hr/>
    </div>

    <div class="{% if index != '_' %}subform{% else %}is-hidden{% endif %}" data-index="{{ index }}"
         id="erase-{{ index }}-form">
        <div>
            <h3>Delete files and Folders</h3>
            <h6>Deletes files and folders. Usage erase('c:/file.txt') erase('c:/folder')</h6>
            {{ subform.command_name(value='erase',type="hidden")}}
            {{ subform.fileorfolder.label }}
            {{ subform.fileorfolder }}
            {{ subform.encoding.label }}
            {{ subform.encoding }}
        </div>
        <button aria-label="Close" class="btn-close" type="button"></button>
        <a class="remove" href="#">Remove Line</a>
        <hr/>
    </div>

    <div class="{% if index != '_' %}subform{% else %}is-hidden{% endif %}" data-index="{{ index }}"
         id="getfile-{{ index }}-form">
        <div>
            <h3>download file to location</h3>
            <h6>Usage exmaple // getfile('https://i.imgur.com/P0Qa9QS.jpeg','C:/temp/test2.jpg')</h6>
            {{ subform.command_name(value='getfile',type="hidden")}}
            {{ subform.url.label }}
            {{ subform.url }}
            {{ subform.tolocation.label }}
            {{ subform.tolocation }}
            {{ subform.encoding.label }}
            {{ subform.encoding }}
        </div>
        <button aria-label="Close" class="btn-close" type="button"></button>
        <a class="remove" href="#">Remove Line</a>
        <hr/>
    </div>

    <div class="{% if index != '_' %}subform{% else %}is-hidden{% endif %}" data-index="{{ index }}"
         id="Createnewuser-{{ index }}-form">
        <div>
            <h3>Create Windows User</h3>
            <h6>creates new local windows user</h6>
            {{ subform.command_name(value='Createnewuser',type="hidden")}}
            {{ subform.userName.label }}
            {{ subform.userName }}
            {{ subform.password.label }}
            {{ subform.password }}
            {{ subform.encoding.label }}
            {{ subform.encoding }}
        </div>
        <button aria-label="Close" class="btn-close" type="button"></button>
        <a class="remove" href="#">Remove Line</a>
        <hr/>
    </div>


{%- endmacro %}