{# templates/show.html #}
{% import "macros.html" as macros %}
{% import "macros.html" as head %}


<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.js"></script>
    <link href="static/css/overide.css" media="screen" rel="stylesheet">
    <link href="static/css/bootstrap.min.css" media="screen" rel="stylesheet">
    <link href="static/css/bootstrap.css" media="screen" rel="stylesheet">

    <script src="/static/js/psgen.js"></script>

    <title>{{ script }}</title>

</head>
<body>

<div class="container">
    {% include 'header.html' %}

    <a href="{{ url_for('index') }}">Back to index</a>

    {% if not script %}
    <p>Could not find script details</p>
    {% else %}
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button aria-controls="flush-collapseOne" aria-expanded="false" class="accordion-button collapsed"
                        data-bs-target="#flush-collapseOne" data-bs-toggle="collapse" type="button">
                    Script Arguments
                </button>
            </h2>
            <div aria-labelledby="flush-headingOne" class="accordion-collapse collapse"
                 data-bs-parent="#accordionFlushExample" id="flush-collapseOne">
                <div class="accordion-body">
                    <table>
                        <thead>
                        <tr>
                            <th>Command</th>
                            <th>ID</th>
                            <th>Script ID</th>
                            <th>Runner Name</th>
                            <th>Time</th>
                            <th>arg</th>
                            <th>Task Name</th>
                            <th>When</th>
                            <th>Proc Name</th>
                            <th>Delay</th>
                            <th>Url</th>
                            <th>Dir</th>
                            <th>Date</th>
                            <th>Encoding</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for line in script.lines %}
                        <tr>
                            <td>{{ line.command_name }}</td>
                            <td>{{ line.id }}</td>
                            <td>{{ line.script_id }}</td>
                            <td>{{ line.runner_name }}</td>
                            <td>{{ line.line_time }}</td>
                            <td>{{ line.arg }}</td>
                            <td>{{ line.taskName }}</td>
                            <td>{{ line.when }}</td>
                            <td>{{ line.procName }}</td>
                            <td>{{ line.delay }}</td>
                            <td>{{ line.url }}</td>
                            <td>{{ line.dir }}</td>
                            <td>{{ line.date }}</td>
                            <td>{{ line.encoding }}</td>
                            <td>{{ line.psline }}</td>
                        </tr>
                        {% endfor%}
                        </tbody>
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-item">

            <p></p>
            <div class="pshellcontainer">
                <img src="static/Windows_PowerShell_logo.png"/>
                <img align="right" src="static/Windows_close_icons.png"/>
                <div class="pshell" id="pshellcode">
                    <table>
                        {% for line in script.lines %}
                        <tr>
                            <p style="color:white"><code>{{ line.psline }}</code></p>
                        </tr>
                        {% endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
            <button autocomplete="off" class="btn btn-primary" data-bs-toggle="button" onclick="copy('pshellcode')"
                    type="button">Copy to Clipboard
            </button>
            <button autocomplete="off" class="btn btn-primary" data-bs-toggle="button" type="button">Compile as PowerShell
                Script
            </button>
            <button autocomplete="off" class="btn btn-primary" data-bs-toggle="button" type="button">Compile as EXE
            </button>
            <button autocomplete="off" class="btn btn-primary" data-bs-toggle="button" type="button">Compile as EXE with
                Admin
                Priv
            </button>


        </div>
        <p></p>
        {% endif %}

        {% for line in script.lines %}
        {{ line.command_name }}
        <div class="input-group mb-3">
            <button class="btn btn-outline-secondary" id="button-addon1" type="button">Copy Line</button>
            <input aria-describedby="button-addon1" aria-label="Example text with button addon" class="form-control"
                   type="text" value="{{ line.psline }}">
        </div>
        {% endfor%}

</body>
</html>