{# templates/show.html #}
<html>
<head>
    <link href="static/css/overide.css" media="screen" rel="stylesheet">
    <link href="static/css/bootstrap.min.css" media="screen" rel="stylesheet">
    <link href="static/css/bootstrap-theme.min.css" rel="stylesheet">
    <title>Script details</title>

</head>
<body>
<a href="{{ url_for('index') }}">Back to index</a>

{% if not script %}
<p>Could not find script details</p>
{% else %}
<table>
    <thead>
    <tr>
        <th>Command</th>
        <th>ID</th>
        <th>Script ID</th>
        <th>Runner Name</th>
        <th>Time</th>
        <th>arg</th>
        <th>Task Name</th>
        <th>When</th>
        <th>Proc Name</th>
        <th>Delay</th>
        <th>Url</th>
        <th>Dir</th>
        <th>Date</th>
        <th>Encoding</th>
    </tr>
    </thead>
    <tbody>
    {% for line in script.lines %}
    <tr>
        <td>{{ line.command_name }}</td>
        <td>{{ line.id }}</td>
        <td>{{ line.script_id }}</td>
        <td>{{ line.runner_name }}</td>
        <td>{{ line.line_time }}</td>
        <td>{{ line.arg }}</td>
        <td>{{ line.taskName }}</td>
        <td>{{ line.when }}</td>
        <td>{{ line.procName }}</td>
        <td>{{ line.delay }}</td>
        <td>{{ line.url }}</td>
        <td>{{ line.dir }}</td>
        <td>{{ line.date }}</td>
        <td>{{ line.encoding }}</td>
        <td>{{ line.psline }}</td>
    </tr>
    {% endfor%}
    </tbody>
    <tbody>
</table>
<p></p>
<div class="container">
    <div class="pshell">
        <table>
            {% for line in script.lines %}
            <tr>
                <p style="color:white">{{ line.psline }}</p>
            </tr>
            {% endfor%}
            </tbody>
        </table>
    </div>
</div>

{% endif %}
</body>
</html>